<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/EV OWNER//Frame 1@2x.png">
    <title>FixPoint</title>
    <!-- <link rel="stylesheet" href="/EV OWNER/CSS/describe.css"> -->
    <!-- CSS only --> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>  
    <section class="vh-100 secondevdealer">
        <div class="container py-5 h-100 logincont">
            <div class="row d-flex align-items-center justify-content-center h-100">
                    <h3>EVOWNER</h3>
                    <button type="button" class=" btn-outline-dark"><a style="color: rgb(0, 0, 0) " href="/views/EVOWNER/2wheel/2owner"> 2 wheel EV owner</a> </button>
                    <button type="button" class=" btn-outline-dark"><a style="color: rgb(0, 0, 0) " href="/EVOWNER/3wheel/3owner.html"> 3 wheel EV owner</a> </button>
                    <button type="button" class=" btn-outline-dark"><a style="color: rgb(0, 0, 0) " href="/EVOWNER/4wheel/4owner.html"> 4 wheel EV owner</a> </button>
                    <h3>2NDEVOWNER</h3>
                    <button type="button" class=" btn-outline-dark"><a style="color: rgb(0, 0, 0);" href="/2NDEVOWNER/2wheelbulk/2bulk">2 wheel Second EV dealer</a></button>
                    <button type="button" class=" btn-outline-dark"><a style="color: rgb(0, 0, 0);" href="/2NDEVOWNER/3wheelbulk/3bulk">3 wheel Second EV dealer</a></button>
                    <button type="button" class=" btn-outline-dark"><a style="color: rgb(0, 0, 0);" href="/2NDEVOWNER/4wheelbulk/4bulk">4 wheel Second EV dealer</a></button>
                    <h3>BUDDY</h3>
                    <button type="button" class=" btn-outline-dark"><a style="color: rgb(0, 0, 0);" href="/FIXPOINT BUDDY/buddy/Washingbay/bay.html">FixPoint budyy</a></button>
                    <h3>MANUFACTURE</h3>
                    <button type="button" class=" btn-outline-dark"><a style="color: rgb(8, 8, 8);" href="/EVMANUFACTURE/manufacture">EV manufactured</a></button>
                    <h3>GOVERNMENTBODY</h3>
                    <button type="button" class=" btn-outline-dark"><a style="color: rgb(0, 0, 0);" href="/GOVERNMENTBODY/govtwheel/govtwheel">Government body</a></button>
                    <h3>COMPANY</h3>
                    <button type="button" class=" btn-outline-dark"><a style="color: rgb(12, 12, 12);" href="/COMPANY/OWNER/owner.html">owner</a></button>
                    <button type="button" class=" btn-outline-dark"><a style="color: rgb(12, 12, 12);" href="/COMPANY/USER/user.html">User</a></button>
           </div>
        </div>
    </section>
</body>
</html>