<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/2NDEVOWNER/Frame 1@2x.png" />
    <title>FixPoint</title>
    <link rel="stylesheet" href="/2NDEVOWNER/3wheelbulk/CSS/parts.css" />
     <link rel="stylesheet" href="/2NDEVOWNER/3wheelbulk/CSS/parts2.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    
  </head>
  <body>
    <%- include('2NDEVOWNER/3wheelbulk/PARTIALS/header') %>

    <!-- page-header -->
    <div class="page-header mb-5">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-caption">
              <h1 class="page-title">Parts</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.page-header-->
    <!-- HOw -->
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6">
          <figure>
            <img class="img-fluid" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/how.png" alt="" />
          </figure>
        </div>
        <!--/column -->
        <div class="col-lg-6 work">
          <h2 class="h6 text-uppercase text-line text-green mb-3">
            How It Works?
          </h2>
          <h3 class="display-6 mb-5 pe-xxl-5">
            Everything you need on creating a business process.
          </h3>
          <div class="d-flex flex-row mb-3">
            <div class="pe-4">
              <img src="/2NDEVOWNER/3wheelbulk/IMAGES/icons/serviceicon (1).png" class="icon" alt="" />
            </div>
            <div>
              <h5 class="mb-1">Collect Ideas</h5>
              <p class="mb-1">
                Nulla vitae elit libero pharetra augue dapibus.
              </p>
            </div>
          </div>
          <div class="d-flex flex-row mb-3">
            <div class="pe-4">
              <img src="/2NDEVOWNER/3wheelbulk/IMAGES/icons/serviceicon (2).png" class="icon" alt="" />
            </div>
            <div>
              <h5 class="mb-1">Data Analysis</h5>
              <p class="mb-1">Vivamus sagittis lacus augue laoreet vel.</p>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="pe-4">
              <img src="/2NDEVOWNER/3wheelbulk/IMAGES/icons/serviceicon (3).png" class="icon" alt="" />
            </div>
            <div>
              <h5 class="mb-1">Magic Touch</h5>
              <p class="mb-0">Cras mattis consectetur purus sit amet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--/HOw end -->
    
    <!--product -->
    

<section id="parts">
    


  <!-- Carousel Start -->
  <div class="container-fluid mb-3">
   <div class="row ">
       <div class="col-lg-8">
           <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
               <ol class="carousel-indicators">
                   <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                   <li data-target="#header-carousel" data-slide-to="1"></li>
                   <li data-target="#header-carousel" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                   <div class="carousel-item position-relative active" style="height: 430px;">
                       <img class="position-absolute w-100 h-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/banner/banner (1).jpg" style="object-fit: cover;">
                       <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                           <div class="p-3" style="max-width: 700px;">
                               <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">2 wheeler</h1>
                               <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                               <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                           </div>
                       </div>
                   </div>
                   <div class="carousel-item position-relative" style="height: 430px;">
                       <img class="position-absolute w-100 h-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/banner/banner (2).jpg" style="object-fit: cover;">
                       <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                           <div class="p-3" style="max-width: 700px;">
                               <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Accesories</h1>
                               <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                               <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                           </div>
                       </div>
                   </div>
                   <div class="carousel-item position-relative" style="height: 430px;">
                       <img class="position-absolute w-100 h-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/banner/banner (1).jpg" style="object-fit: cover;">
                       <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                           <div class="p-3" style="max-width: 700px;">
                               <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Parts</h1>
                               <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                               <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-4">
           <div class="product-offer mb-30" style="height: 200px;">
               <img class="img-fluid" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/banner/banner (3).jpg" alt="">
               <div class="offer-text">
                   <h6 class="text-white text-uppercase">Save 20%</h6>
                   <h3 class="text-white mb-3">Special Offer</h3>
                   <a href="" class="btn btn-outline-light">Shop Now</a>
               </div>
           </div>
           <div class="product-offer mb-30" style="height: 200px;">
               <img class="img-fluid" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/banner/banner (4).jpg" alt="">
               <div class="offer-text">
                   <h6 class="text-white text-uppercase">Save 20%</h6>
                   <h3 class="text-white mb-3">Special Offer</h3>
                   <a href="" class="btn btn-outline-light">Shop Now</a>
               </div>
           </div>
       </div>
   </div>
</section>
<!-- Carousel End -->


<!-- Featured Start -->

<section id="parts">
<div class="container-fluid pt-5">
   <div class="row  pb-3">
       <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
           <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
               <h1 class="fa fa-check black m-0 mr-3"></h1>
               <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
           </div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
           <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
               <h1 class="fa fa-shipping-fast black m-0 mr-2"></h1>
               <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
           </div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
           <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
               <h1 class="fas fa-exchange-alt black m-0 mr-3"></h1>
               <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
           </div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
           <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
               <h1 class="fa fa-phone-volume black m-0 mr-3"></h1>
               <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
           </div>
       </div>
   </div>
</div>
</section>
<!-- Featured End -->


<!-- Categories Start -->

<section id="parts">
<div class="container-fluid pt-5">
   <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class=" pr-3">Categories</span></h2>
   <div class="row  pb-3">
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <a class="text-decoration-none" href="">
               <div class="cat-item d-flex align-items-center mb-4">
                   <div class="overflow-hidden" style="width: 100px; height: 100px;">
                       <img class="img-fluid" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/part (1).webp" alt="">
                   </div>
                   <div class="flex-fill pl-3">
                       <h6>Category Name</h6>
                       <small class="text-body">100 Products</small>
                   </div>
               </div>
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <a class="text-decoration-none" href="">
               <div class="cat-item img-zoom d-flex align-items-center mb-4">
                   <div class="overflow-hidden" style="width: 100px; height: 100px;">
                       <img class="img-fluid" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/part (2).webp" alt="">
                   </div>
                   <div class="flex-fill pl-3">
                       <h6>Category Name</h6>
                       <small class="text-body">100 Products</small>
                   </div>
               </div>
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <a class="text-decoration-none" href="">
               <div class="cat-item img-zoom d-flex align-items-center mb-4">
                   <div class="overflow-hidden" style="width: 100px; height: 100px;">
                       <img class="img-fluid" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/part (3).webp" alt="">
                   </div>
                   <div class="flex-fill pl-3">
                       <h6>Category Name</h6>
                       <small class="text-body">100 Products</small>
                   </div>
               </div>
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <a class="text-decoration-none" href="">
               <div class="cat-item img-zoom d-flex align-items-center mb-4">
                   <div class="overflow-hidden" style="width: 100px; height: 100px;">
                       <img class="img-fluid" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/part (4).webp" alt="">
                   </div>
                   <div class="flex-fill pl-3">
                       <h6>Category Name</h6>
                       <small class="text-body">100 Products</small>
                   </div>
               </div>
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <a class="text-decoration-none" href="">
               <div class="cat-item img-zoom d-flex align-items-center mb-4">
                   <div class="overflow-hidden" style="width: 100px; height: 100px;">
                       <img class="img-fluid" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/part (5).webp" alt="">
                   </div>
                   <div class="flex-fill pl-3">
                       <h6>Category Name</h6>
                       <small class="text-body">100 Products</small>
                   </div>
               </div>
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <a class="text-decoration-none" href="">
               <div class="cat-item img-zoom d-flex align-items-center mb-4">
                   <div class="overflow-hidden" style="width: 100px; height: 100px;">
                       <img class="img-fluid" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/part (6).webp" alt="">
                   </div>
                   <div class="flex-fill pl-3">
                       <h6>Category Name</h6>
                       <small class="text-body">100 Products</small>
                   </div>
               </div>
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <a class="text-decoration-none" href="">
               <div class="cat-item img-zoom d-flex align-items-center mb-4">
                   <div class="overflow-hidden" style="width: 100px; height: 100px;">
                       <img class="img-fluid" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/part (7).webp" alt="">
                   </div>
                   <div class="flex-fill pl-3">
                       <h6>Category Name</h6>
                       <small class="text-body">100 Products</small>
                   </div>
               </div>
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <a class="text-decoration-none" href="">
               <div class="cat-item img-zoom d-flex align-items-center mb-4">
                   <div class="overflow-hidden" style="width: 100px; height: 100px;">
                       <img class="img-fluid" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/part (8).webp" alt="">
                   </div>
                   <div class="flex-fill pl-3">
                       <h6>Category Name</h6>
                       <small class="text-body">100 Products</small>
                   </div>
               </div>
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <a class="text-decoration-none" href="">
               <div class="cat-item img-zoom d-flex align-items-center mb-4">
                   <div class="overflow-hidden" style="width: 100px; height: 100px;">
                       <img class="img-fluid" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (1).png" alt="">
                   </div>
                   <div class="flex-fill pl-3">
                       <h6>Category Name</h6>
                       <small class="text-body">100 Products</small>
                   </div>
               </div>
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <a class="text-decoration-none" href="">
               <div class="cat-item img-zoom d-flex align-items-center mb-4">
                   <div class="overflow-hidden" style="width: 100px; height: 100px;">
                       <img class="img-fluid" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (2).png" alt="">
                   </div>
                   <div class="flex-fill pl-3">
                       <h6>Category Name</h6>
                       <small class="text-body">100 Products</small>
                   </div>
               </div>
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <a class="text-decoration-none" href="">
               <div class="cat-item img-zoom d-flex align-items-center mb-4">
                   <div class="overflow-hidden" style="width: 100px; height: 100px;">
                       <img class="img-fluid" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (3).png" alt="">
                   </div>
                   <div class="flex-fill pl-3">
                       <h6>Category Name</h6>
                       <small class="text-body">100 Products</small>
                   </div>
               </div>
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <a class="text-decoration-none" href="">
               <div class="cat-item img-zoom d-flex align-items-center mb-4">
                   <div class="overflow-hidden" style="width: 100px; height: 100px;">
                       <img class="img-fluid" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (4).png" alt="">
                   </div>
                   <div class="flex-fill pl-3">
                       <h6>Category Name</h6>
                       <small class="text-body">100 Products</small>
                   </div>
               </div>
           </a>
       </div>
   </div>
</div>
</section>
<!-- Categories End -->


<!-- Products Start -->

<section id="parts">
<div class="container-fluid pt-5 pb-3">
   <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class=" pr-3">Featured Products</span></h2>
   <div class="row ">
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <div class="product-item bg-light mb-4">
               <div class="product-img position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (5).png" alt="">
                   <div class="product-action">
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                   </div>
               </div>
               <div class="text-center py-4">
                   <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                   <div class="d-flex align-items-center justify-content-center mt-2">
                       <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                   </div>
                   <div class="d-flex align-items-center justify-content-center mb-1">
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small>(99)</small>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <div class="product-item bg-light mb-4">
               <div class="product-img position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (6).png" alt="">
                   <div class="product-action">
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                   </div>
               </div>
               <div class="text-center py-4">
                   <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                   <div class="d-flex align-items-center justify-content-center mt-2">
                       <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                   </div>
                   <div class="d-flex align-items-center justify-content-center mb-1">
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star-half-alt black mr-1"></small>
                       <small>(99)</small>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <div class="product-item bg-light mb-4">
               <div class="product-img position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (7).png" alt="">
                   <div class="product-action">
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                   </div>
               </div>
               <div class="text-center py-4">
                   <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                   <div class="d-flex align-items-center justify-content-center mt-2">
                       <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                   </div>
                   <div class="d-flex align-items-center justify-content-center mb-1">
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star-half-alt black mr-1"></small>
                       <small class="far fa-star black mr-1"></small>
                       <small>(99)</small>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <div class="product-item bg-light mb-4">
               <div class="product-img position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (8).png" alt="">
                   <div class="product-action">
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                   </div>
               </div>
               <div class="text-center py-4">
                   <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                   <div class="d-flex align-items-center justify-content-center mt-2">
                       <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                   </div>
                   <div class="d-flex align-items-center justify-content-center mb-1">
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="far fa-star black mr-1"></small>
                       <small class="far fa-star black mr-1"></small>
                       <small>(99)</small>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <div class="product-item bg-light mb-4">
               <div class="product-img position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (9).png" alt="">
                   <div class="product-action">
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                   </div>
               </div>
               <div class="text-center py-4">
                   <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                   <div class="d-flex align-items-center justify-content-center mt-2">
                       <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                   </div>
                   <div class="d-flex align-items-center justify-content-center mb-1">
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small>(99)</small>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <div class="product-item bg-light mb-4">
               <div class="product-img position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (10).png" alt="">
                   <div class="product-action">
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                   </div>
               </div>
               <div class="text-center py-4">
                   <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                   <div class="d-flex align-items-center justify-content-center mt-2">
                       <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                   </div>
                   <div class="d-flex align-items-center justify-content-center mb-1">
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star-half-alt black mr-1"></small>
                       <small>(99)</small>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <div class="product-item bg-light mb-4">
               <div class="product-img position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (11).png" alt="">
                   <div class="product-action">
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                   </div>
               </div>
               <div class="text-center py-4">
                   <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                   <div class="d-flex align-items-center justify-content-center mt-2">
                       <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                   </div>
                   <div class="d-flex align-items-center justify-content-center mb-1">
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star-half-alt black mr-1"></small>
                       <small class="far fa-star black mr-1"></small>
                       <small>(99)</small>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <div class="product-item bg-light mb-4">
               <div class="product-img position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (12).png" alt="">
                   <div class="product-action">
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                   </div>
               </div>
               <div class="text-center py-4">
                   <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                   <div class="d-flex align-items-center justify-content-center mt-2">
                       <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                   </div>
                   <div class="d-flex align-items-center justify-content-center mb-1">
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="far fa-star black mr-1"></small>
                       <small class="far fa-star black mr-1"></small>
                       <small>(99)</small>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
</section>

<!-- Products End -->


<!-- Offer Start -->

<section id="parts">
<div class="container-fluid pt-5 pb-3">
   <div class="row ">
       <div class="col-md-6">
           <div class="product-offer mb-30" style="height: 300px;">
               <img class="img-fluid" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/banner/banner (5).jpg" alt="">
               <div class="offer-text">
                   <h6 class="text-white text-uppercase">Save 50%</h6>
                   <h3 class="text-white mb-3">Special Offer</h3>
                   <a href="" class="btn btn-primary">Shop Now</a>
               </div>
           </div>
       </div>
       <div class="col-md-6">
           <div class="product-offer mb-30" style="height: 300px;">
               <img class="img-fluid" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/banner/banner (1).jpg" alt="">
               <div class="offer-text">
                   <h6 class="text-white text-uppercase">Save 20%</h6>
                   <h3 class="text-white mb-3">Special Offer</h3>
                   <a href="" class="btn btn-primary">Shop Now</a>
               </div>
           </div>
       </div>
   </div>
</div>
</section>

<!-- Offer End -->


<!-- Products Start -->

<section id="parts">
<div class="container-fluid pt-5 pb-3">
   <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="pr-3">Recent Products</span></h2>
   <div class="row ">
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <div class="product-item bg-light mb-4">
               <div class="product-img position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (13).png" alt="">
                   <div class="product-action">
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                   </div>
               </div>
               <div class="text-center py-4">
                   <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                   <div class="d-flex align-items-center justify-content-center mt-2">
                       <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                   </div>
                   <div class="d-flex align-items-center justify-content-center mb-1">
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small>(99)</small>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <div class="product-item bg-light mb-4">
               <div class="product-img position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (14).png" alt="">
                   <div class="product-action">
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                   </div>
               </div>
               <div class="text-center py-4">
                   <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                   <div class="d-flex align-items-center justify-content-center mt-2">
                       <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                   </div>
                   <div class="d-flex align-items-center justify-content-center mb-1">
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star-half-alt black mr-1"></small>
                       <small>(99)</small>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <div class="product-item bg-light mb-4">
               <div class="product-img position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (13).png" alt="">
                   <div class="product-action">
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                   </div>
               </div>
               <div class="text-center py-4">
                   <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                   <div class="d-flex align-items-center justify-content-center mt-2">
                       <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                   </div>
                   <div class="d-flex align-items-center justify-content-center mb-1">
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star-half-alt black mr-1"></small>
                       <small class="far fa-star black mr-1"></small>
                       <small>(99)</small>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <div class="product-item bg-light mb-4">
               <div class="product-img position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (14).png" alt="">
                   <div class="product-action">
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                   </div>
               </div>
               <div class="text-center py-4">
                   <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                   <div class="d-flex align-items-center justify-content-center mt-2">
                       <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                   </div>
                   <div class="d-flex align-items-center justify-content-center mb-1">
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="far fa-star black mr-1"></small>
                       <small class="far fa-star black mr-1"></small>
                       <small>(99)</small>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <div class="product-item bg-light mb-4">
               <div class="product-img position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (15).png" alt="">
                   <div class="product-action">
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                   </div>
               </div>
               <div class="text-center py-4">
                   <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                   <div class="d-flex align-items-center justify-content-center mt-2">
                       <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                   </div>
                   <div class="d-flex align-items-center justify-content-center mb-1">
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small>(99)</small>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <div class="product-item bg-light mb-4">
               <div class="product-img position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (16).png" alt="">
                   <div class="product-action">
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                   </div>
               </div>
               <div class="text-center py-4">
                   <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                   <div class="d-flex align-items-center justify-content-center mt-2">
                       <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                   </div>
                   <div class="d-flex align-items-center justify-content-center mb-1">
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star-half-alt black mr-1"></small>
                       <small>(99)</small>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <div class="product-item bg-light mb-4">
               <div class="product-img position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (17).png" alt="">
                   <div class="product-action">
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                   </div>
               </div>
               <div class="text-center py-4">
                   <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                   <div class="d-flex align-items-center justify-content-center mt-2">
                       <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                   </div>
                   <div class="d-flex align-items-center justify-content-center mb-1">
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star-half-alt black mr-1"></small>
                       <small class="far fa-star black mr-1"></small>
                       <small>(99)</small>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <div class="product-item bg-light mb-4">
               <div class="product-img position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="/2NDEVOWNER/3wheelbulk/IMAGES/Parts/products/parts (18).png" alt="">
                   <div class="product-action">
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                       <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                   </div>
               </div>
               <div class="text-center py-4">
                   <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                   <div class="d-flex align-items-center justify-content-center mt-2">
                       <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                   </div>
                   <div class="d-flex align-items-center justify-content-center mb-1">
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="fa fa-star black mr-1"></small>
                       <small class="far fa-star black mr-1"></small>
                       <small class="far fa-star black mr-1"></small>
                       <small>(99)</small>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
</section>
<!-- Products End -->




<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Contact Javascript File -->

<!-- Template Javascript -->
<script src="/2NDEVOWNER/3wheelbulk/JS/parts.js"></script>



<!--Banner -->
<div
class="d-flex text-center"
lc-helper="background"
style="
  min-height: 20vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-color: #eee;
  background-image: linear-gradient(
      336deg,
      rgba(0, 0, 0, 1.8),
      rgba(0, 0, 0, 0) 70.71%
    ),
    url('/2NDEVOWNER/3wheelbulk/IMAGES/all.jpg'); ;
"
>
<div class="lc-block my-3 align-self-center w-100 py-5">
  <div editable="rich">
    <h2 class="display-4">This could be your call to action</h2>
    <p class="display-10">
      Lorem int ipsum dolor sit amet when an unknown printer took a galley
      of type. Vivamus id tempor.
    </p>
  </div>
  <a class="btn btn-success" href="/2NDEVOWNER/3wheelbulk/3bulk.html" role="button"
    >More services</a
  >
</div>
</div>

<!--/Banner end -->

    <!--Question -->
    <div class="container py-5 pe-xl-5">
      <div class="row mb-5">
        <div class="col-md-12">
          <div class="lc-block text-center mb-4">
            <div editable="rich">
              <h2 class="fw-bold">Frequently Asked Questions</h2>
            </div>
          </div>
          <div class="lc-block text-center">
            <div editable="rich">
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu<br />fugiat nulla pariatur excepteur sint
              occaecat.<br />
            </div>
          </div>
        </div>
      </div>
      <div class="row g-0">
        <div class="col-md-6">
          <img
            class="img-fluid"
            src="/2NDEVOWNER/3wheelbulk/IMAGES/question.jpg"
            alt="Photo by Tim Mossholder"
            style="object-fit: cover"
          />
        </div>
        <div class="col-md-6 p-5 d-flex flex-column justify-content-center">
          <div class="accordion accordion-flush" id="accordionFlushMyFAQ1">
            <div class="lc-block accordion-item mb-5">
              <a
                editable="inline"
                class="fw-bold text-decoration-none text-dark h4 collapsed"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                Accordion Item #1
              </a>

              <div
                id="flush-collapseOne"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushMyFAQ1"
                style=""
              >
                <div class="accordion-body" editable="rich">
                  Placeholder content for this accordion, which is intended to
                  demonstrate the <code>.accordion-flush</code> class. This is
                  the first item's accordion body.
                </div>
              </div>
            </div>
            <div class="lc-block accordion-item mb-5">
              <a
                editable="inline"
                class="fw-bold text-decoration-none text-dark h4 collapsed"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                Accordion Item #2
              </a>

              <div
                id="flush-collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushMyFAQ1"
                style=""
              >
                <div class="accordion-body" editable="rich">
                  Placeholder content for this accordion, which is intended to
                  demonstrate the <code>.accordion-flush</code> class. This is
                  the second item's accordion body. Let's imagine this being
                  filled with some actual content.
                </div>
              </div>
            </div>
            <div class="lc-block accordion-item mb-5">
              <a
                editable="inline"
                class="fw-bold text-decoration-none text-dark h4 collapsed"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
                Accordion Item #3
              </a>

              <div
                id="flush-collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushMyFAQ1"
                style=""
              >
                <div class="accordion-body" editable="rich">
                  Placeholder content for this accordion, which is intended to
                  demonstrate the <code>.accordion-flush</code> class. This is
                  the third item's accordion body. Nothing more exciting
                  happening here in terms of content, but just filling up the
                  space to make it look, at least at first glance, a bit more
                  representative of how this would look in a real-world
                  application.
                </div>
              </div>
            </div>

            <!-- -->

            <div class="lc-block accordion-item mb-5">
              <a
                editable="inline"
                class="fw-bold text-decoration-none text-dark h4"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour"
                aria-expanded="true"
                aria-controls="flush-collapseFour"
              >
                Accordion Item #4</a
              >

              <div
                id="flush-collapseFour"
                class="accordion-collapse collapse show"
                aria-labelledby="flush-headingFour"
                data-bs-parent="#accordionFlushMyFAQ1"
                style=""
              >
                <div class="accordion-body" editable="rich">
                  Placeholder content for this accordion, which is intended to
                  demonstrate the <code>.accordion-flush</code> class. This is
                  the first item's accordion body.
                </div>
              </div>
            </div>
            <div class="lc-block accordion-item mb-5">
              <a
                editable="inline"
                class="fw-bold text-decoration-none text-dark h4 collapsed"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFive"
                aria-expanded="false"
                aria-controls="flush-collapseFive"
              >
                Accordion Item #5</a
              >

              <div
                id="flush-collapseFive"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingFive"
                data-bs-parent="#accordionFlushMyFAQ1"
              >
                <div class="accordion-body" editable="rich">
                  Placeholder content for this accordion, which is intended to
                  demonstrate the <code>.accordion-flush</code> class. This is
                  the second item's accordion body. Let's imagine this being
                  filled with some actual content.
                </div>
              </div>
            </div>
            <div class="lc-block accordion-item mb-5">
              <a
                editable="inline"
                class="fw-bold text-decoration-none text-dark h4 collapsed"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseSix"
                aria-expanded="false"
                aria-controls="flush-collapseSix"
              >
                Accordion Item #6</a
              >

              <div
                id="flush-collapseSix"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingSix"
                data-bs-parent="#accordionFlushMyFAQ1"
              >
                <div class="accordion-body" editable="rich">
                  Placeholder content for this accordion, which is intended to
                  demonstrate the <code>.accordion-flush</code> class. This is
                  the third item's accordion body. Nothing more exciting
                  happening here in terms of content, but just filling up the
                  space to make it look, at least at first glance, a bit more
                  representative of how this would look in a real-world
                  application.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- / Question end -->

    <!--  footer -->
    <%- include('2NDEVOWNER/3wheelbulk/PARTIALS/footer') %>
    <script src="/2NDEVOWNER/3wheelbulk/JS/parts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src=""></script>
  </body>
</html>
