<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/2NDEVOWNER/Frame 1@2x.png" />
  <title>FixPoint</title>
  <link rel="stylesheet" href="/2NDEVOWNER/4wheelbulk/CSS/4bulk.css" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <%- include('2NDEVOWNER/4wheelbulk/PARTIALS/header') %>

  <div class="banner-image mb-3">
    <div class="container pt-5">
      <div class="row pt-5">
        <div class="col-lg-12 pt-4">
          <h1 class="display-3 fonthead mb-1 text"><span class="succes">Multi </span> Brand, <br> EV Services <span
              class="succes">Simplified.</span></h1>
          <p class="lead col-lg-6 mb-5 pb-5 font-weight-normal text">Our mechanics provide top-notch maintenance
            services for all types of Electric Vehicles.</p>
          <div class="d-flex col-lg-6  justify-content-between align-items-center success text-white py-4 px-5">
            <div class="h5 m-0 p-0">Scroll for more</div>
            <div><i class="lni lni-arrow-down-circle"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container py-6 pt-5">
    <div class="row">
      <div class="me-xl-auto col-xl-5">
        <div class="lc-block mb-4">
          <div editable="rich">

            <h2 class="display-5 fw-bold">
              Reasons for the boom in Pre-owned Car industry
            </h2>
          </div>
        </div>
      </div>
      <div class="mx-auto col-xl-6">
        <div class="lc-block d-sm-flex align-items-center mb-4">
          <div
            class="lc-block rounded-circle d-flex justify-content-center align-items-center me-sm-3 mb-3 mb-sm-0  bg-light flex-shrink-0"
            style="width:64px;height:64px;
       ">
            <img src="/2NDEVOWNER/4wheelbulk/IMAGES/icons/serviceicon (1).png"  width="45px" height="45px" class="img-fluid" alt="" srcset="">

          </div>
          <div class="flex-grow-1" editable="rich">


            <p class="text-muted"> Frequent introduction of new models of cars by most of the competing Indian and
              global car makers in India has resulted in fast replacement cycles.
            </p>
          </div>
        </div>
        <div class="lc-block d-sm-flex align-items-center mb-4">
          <div
            class="lc-block rounded-circle d-flex justify-content-center align-items-center me-sm-3 mb-3 mb-sm-0  bg-light flex-shrink-0"
            style="width:64px;height:64px;
       ">
            <img src="/2NDEVOWNER/4wheelbulk/IMAGES/icons/serviceicon (2).png"  width="45px" height="45px" class="img-fluid" alt="" srcset="">

          </div>
          <div class="flex-grow-1" editable="rich">


            <p class="text-muted">
              Decreasing prices and aggressive sales promotions of various car makers motivate existing car owners to
              sell their used cars and acquire new cars.
            </p>
          </div>
        </div>
        <div class="lc-block d-sm-flex align-items-center">
          <div
            class="lc-block rounded-circle d-flex justify-content-center align-items-center me-sm-3 mb-3 mb-sm-0  bg-light flex-shrink-0"
            style="width:64px;height:64px;
       ">
            <img src="/2NDEVOWNER/4wheelbulk/IMAGES/icons/serviceicon (3).png"  width="45px" height="45px" class="img-fluid" alt="" srcset="">

          </div>
          <div class="flex-grow-1" editable="rich">


            <p class="text-muted"> Entry of global car makers into the Indian car industry and increasing competition in
              the domestic market created a huge resource of pre-owned and new cars.

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="services py-md-5 py-4" id="services">
    <div class="container py-md-5 py-4">
      <div class="divider-shape"></div>
      <h2>Services</h2>
      <p>This is the services section</p>
      <div class="row mt-4">
        <div class="col-sm-4">
          <div class="card shadow-sm">
            <img src="/2NDEVOWNER/4wheelbulk/IMAGES/Servicesbanner/emergency.png" class="img-fluid" alt="" srcset="">
            <div class="card-body d-flex justify-content-between">
              <h4 class="card-title"><a class="link" href="/2NDEVOWNER/4wheelbulk/Emergency">Emergency service</a>
              </h4>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card shadow-sm">
            <img src="/2NDEVOWNER/4wheelbulk/IMAGES/Servicesbanner/custom.png" class="img-fluid" alt="" srcset="">
            <div class="card-body d-flex justify-content-between">
              <h4 class="card-title"><a class="link" href="/2NDEVOWNER/4wheelbulk/Custom">Legal customisation</a>
              </h4>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card shadow-sm">
            <img src="/2NDEVOWNER/4wheelbulk/IMAGES/Servicesbanner/shopping.png" class="img-fluid" alt="" srcset="">
            <div class="card-body d-flex justify-content-between">
              <h4 class="card-title"><a class="link" href="/2NDEVOWNER/4wheelbulk/parts">Spare Parts</a></h4>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-4">
          <div class="card shadow-sm">
            <img src="/2NDEVOWNER/4wheelbulk/IMAGES/Servicesbanner/maintainence.png" class="img-fluid" alt="" srcset="">
            <div class="card-body d-flex justify-content-between">
              <h4 class="card-title"><a class="link" href="/2NDEVOWNER/4wheelbulk/maintain">Maintainence</a></h4>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card shadow-sm">
            <img src="/2NDEVOWNER/4wheelbulk/IMAGES/Servicesbanner/washing.png" class="img-fluid" alt="" srcset="">
            <div class="card-body d-flex justify-content-between">
              <h4 class="card-title"><a class="link" href="/2NDEVOWNER/4wheelbulk/Washing">Washing</a></h4>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card shadow-sm">
            <img src="/2NDEVOWNER/4wheelbulk/IMAGES/Servicesbanner/query.png" class="img-fluid" alt="" srcset="">
            <div class="card-body d-flex justify-content-between">
              <h4 class="card-title"><a class="link" href="/2NDEVOWNER/4wheelbulk/query">Query</a></h4>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <%- include('2NDEVOWNER/4wheelbulk/PARTIALS/footer') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/js/bootstrap.min.js"></script>
</body>

</html>