<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/2NDEVOWNER/Frame 1@2x.png" />
  <title>FixPoint</title>
  <link rel="stylesheet" href="/2NDEVOWNER/2wheelbulk/CSS/emergency.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
  <%- include('2NDEVOWNER/2wheelbulk/PARTIALS/header') %>


  <!-- page-header -->
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-caption">
            <h1 class="page-title">Emergency services</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.page-header-->






  <!-- HOw -->
  <div class="container ">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-lg-6">
        <figure><img class="img-fluid" src="/2NDEVOWNER/2wheelbulk/IMAGES/emergency/tow.png" alt="" /></figure>
      </div>
      <!--/column -->
      <div class="col-lg-6 work">
        <h2 class="h6 text-uppercase text-line text-green mb-3">How It Works?</h2>
        <h3 class="display-6 mb-5 pe-xxl-5">Everything you need on creating a business process.</h3>
        <div class="d-flex flex-row mb-3">
          <div class="pe-4">
            <img src="/2NDEVOWNER/2wheelbulk/IMAGES/icons/serviceicon (1).png" class="icon" alt="" />
          </div>
          <div>
            <h5 class="mb-1">Collect Ideas</h5>
            <p class="mb-1">Nulla vitae elit libero pharetra augue dapibus.</p>
          </div>
        </div>
        <div class="d-flex flex-row mb-3">
          <div class="pe-4">
            <img src="/2NDEVOWNER/2wheelbulk/IMAGES/icons/serviceicon (2).png" class="icon" alt="" />
          </div>
          <div>
            <h5 class="mb-1">Data Analysis</h5>
            <p class="mb-1">Vivamus sagittis lacus augue laoreet vel.</p>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="pe-4">
            <img src="/2NDEVOWNER/2wheelbulk/IMAGES/icons/serviceicon (3).png" class="icon" alt="" />
          </div>
          <div>
            <h5 class="mb-1">Magic Touch</h5>
            <p class="mb-0">Cras mattis consectetur purus sit amet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--/HOw end -->



  <!--Banner -->
  <div class="d-flex text-center" lc-helper="background"
    style="min-height: 20vh; background-attachment: fixed; background-size:cover; background-position: center center;background-color:#eee;  background-image: linear-gradient(336deg, rgba(0, 0, 0, 1.8), rgba(0, 0, 0, 0) 70.71%), url('/2NDEVOWNER/2wheelbulk/IMAGES/all.jpg');;">
    <div class="lc-block  my-3 align-self-center w-100 py-5">
      <div editable="rich">
        <h2 class="display-4">Multi Brand,
          EV Services Simplified.</h2>
        <p class="display-10">Our mechanics provide top-notch maintenance services for all types of Electric Vehicles.</p>
      </div>
      <a class="btn btn-success" href="/2NDEVOWNER/2wheelbulk/2bulk.html" role="button">More services</a>
    </div>
  </div>

  <!--/Banner end -->

  <!--Service -->
  <section >
    <div class="container py-5">
      <h1 class="servicehead ">Emergency service</h1>
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src="/2NDEVOWNER/2wheelbulk/IMAGES/emergency/charging.jpg"
                      class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>Charging Service</h5>
                  <div class="d-flex flex-row">
                    <div class="text-warning mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <span>310</span>
                  </div>
                  <div class="mt-1 mb-0 text-muted small">
                    <span>100% cotton</span>
                    <span class="text-primary"> • </span>
                    <span>Light weight</span>
                    <span class="text-primary"> • </span>
                    <span>Best finish<br /></span>
                  </div>
                  <div class="mb-2 text-muted small">
                    <span>Unique design</span>
                    <span class="text-primary"> • </span>
                    <span>For men</span>
                    <span class="text-primary"> • </span>
                    <span>Casual<br /></span>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0">
                    There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some form, by injected humour, or
                    randomised words which don't look even slightly believable.
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">$13.99</h4>
                  </div>
                  <span class="text-warning"><s>$20.99</s></span>
                  <label for="ticketNum">Number of tickets you would like to buy:</label>
                  <input id="ticketNum" type="number" name="ticketNum" value="0" />
                  <h6 class="text-success">Free shipping</h6>
                  <div class="d-flex flex-column mt-4">
                    <button class="btn-dark btn-sm mt-2" type="button">
                      Add to wishlist
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src="/2NDEVOWNER/2wheelbulk/IMAGES/emergency/flattyre.jpg"
                      class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>Flat Tyre</h5>
                  <div class="d-flex flex-row">
                    <div class="text-warning mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <span>289</span>
                  </div>
                  <div class="mt-1 mb-0 text-muted small">
                    <span>100% cotton</span>
                    <span class="text-primary"> • </span>
                    <span>Light weight</span>
                    <span class="text-primary"> • </span>
                    <span>Best finish<br /></span>
                  </div>
                  <div class="mb-2 text-muted small">
                    <span>Unique design</span>
                    <span class="text-primary"> • </span>
                    <span>For men</span>
                    <span class="text-primary"> • </span>
                    <span>Casual<br /></span>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0">
                    There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some form, by injected humour, or
                    randomised words which don't look even slightly believable.
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">$14.99</h4>
                    <span class="text-warning"><s>$21.99</s></span>
                  </div>
                  
                  <label for="ticketNum">Number of tickets you would like to buy:</label>
                  <input id="ticketNum" type="number" name="ticketNum" value="0" />
                  <h6 class="text-success">Free shipping</h6>
                  <div class="d-flex flex-column mt-4">
                    <button class="btn-dark btn-sm mt-2" type="button">
                      Add to wishlist
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src="/2NDEVOWNER/2wheelbulk/IMAGES/emergency/tow1.jpg"
                      class="w-100 " />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>Tow Service</h5>
                  <div class="d-flex flex-row">
                    <div class="text-warning mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <span>145</span>
                  </div>
                  <div class="mt-1 mb-0 text-muted small">
                    <span>100% cotton</span>
                    <span class="text-primary"> • </span>
                    <span>Light weight</span>
                    <span class="text-primary"> • </span>
                    <span>Best finish<br /></span>
                  </div>
                  <div class="mb-2 text-muted small">
                    <span>Unique design</span>
                    <span class="text-primary"> • </span>
                    <span>For women</span>
                    <span class="text-primary"> • </span>
                    <span>Casual<br /></span>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0">
                    There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some form, by injected humour, or
                    randomised words which don't look even slightly believable.
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">$17.99</h4>
                    <span class="text-warning"><s>$25.99</s></span>
                  </div>
                  
                  <label for="ticketNum">Number of tickets you would like to buy:</label>
                  <input id="ticketNum" type="number" name="ticketNum" value="0" />
                  <h6 class="text-success">Free shipping</h6>
                  <div class="d-flex flex-column mt-4">
                    <button class=" btn-dark btn-sm mt-2" type="button">
                      Add to wishlist
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--/Service end -->

  
  <!--ad service -->
  <section>
  <h1 class="servicadhead">More Services</h1>
  <div id="slider-container" class="slider">
    <div class="slide">
      <img
        src="/2NDEVOWNER/2wheelbulk/IMAGES/AD/ad1.png"
        alt="">
    </div>
    <div class="slide">
      <img
        src="/2NDEVOWNER/2wheelbulk/IMAGES/AD/ad2.png"
        alt="">
    </div>
    <div class="slide">
      <img
        src="/2NDEVOWNER/2wheelbulk/IMAGES/AD/ad3.png"
        alt="">
    </div>
    <div class="slide">
      <img
        src="/2NDEVOWNER/2wheelbulk/IMAGES/AD/ad4.png"
        alt="">
    </div>
    <div class="slide">
      <img
        src="/2NDEVOWNER/2wheelbulk/IMAGES/AD/ad5.png"
        alt="">
    </div>
    <div class="slide">
      <img
        src="/2NDEVOWNER/2wheelbulk/IMAGES/AD/ad6.png"
        alt="">
    </div>
    <div class="slide">
      <img
        src="/2NDEVOWNER/2wheelbulk/IMAGES/AD/ad7.png"
        alt="">
    </div>
    <div onclick="prev()" class="control-prev-btn">
      <i class="fas fa-arrow-left"></i>
    </div>
    <div onclick="next()" class="control-next-btn">
      <i class="fas fa-arrow-right"></i>
    </div>
  </div>
  <div class="overlay"></div>
</section>
  <!--/ad service end -->


  <!--Question -->
  <div class="container py-5">
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="lc-block text-center mb-4">
          <div editable="rich">
            <h2 class="fw-bold">Frequently Asked Questions </h2>
          </div>
        </div>
        <div class="lc-block text-center">
          <div editable="rich">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu<br>fugiat nulla pariatur
            excepteur sint occaecat.<br>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-md-6">
        <img class="img-fluid " src="/2NDEVOWNER/2wheelbulk/IMAGES/question.jpg" alt="Photo by Tim Mossholder" style="object-fit:cover">
      </div>
      <div class="col-md-6 p-5 d-flex flex-column justify-content-center">
        <div class="accordion accordion-flush" id="accordionFlushMyFAQ1">
          <div class="lc-block accordion-item mb-5">

            <a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
              aria-controls="flush-collapseOne">
              Accordion Item #1
            </a>

            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushMyFAQ1" style="">
              <div class="accordion-body" editable="rich">Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
            </div>
          </div>
          <div class="lc-block accordion-item mb-5">

            <a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
              aria-controls="flush-collapseTwo">
              Accordion Item #2
            </a>

            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushMyFAQ1" style="">
              <div class="accordion-body" editable="rich">Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's
                imagine this being filled with some actual content.</div>
            </div>
          </div>
          <div class="lc-block accordion-item mb-5">

            <a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
              aria-controls="flush-collapseThree">
              Accordion Item #3
            </a>

            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushMyFAQ1" style="">
              <div class="accordion-body" editable="rich">Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing
                more exciting happening here in terms of content, but just filling up the space to make it look, at
                least at first glance, a bit more representative of how this would look in a real-world application.
              </div>
            </div>
          </div>


          <!-- -->

          <div class="lc-block accordion-item mb-5">

            <a editable="inline" class="fw-bold text-decoration-none text-dark h4" href="#" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseFour">
              Accordion Item #4</a>

            <div id="flush-collapseFour" class="accordion-collapse collapse show" aria-labelledby="flush-headingFour"
              data-bs-parent="#accordionFlushMyFAQ1" style="">
              <div class="accordion-body" editable="rich">Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
            </div>
          </div>
          <div class="lc-block accordion-item mb-5">

            <a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false"
              aria-controls="flush-collapseFive">
              Accordion Item #5</a>

            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
              data-bs-parent="#accordionFlushMyFAQ1">
              <div class="accordion-body" editable="rich">Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's
                imagine this being filled with some actual content.</div>
            </div>
          </div>
          <div class="lc-block accordion-item mb-5">

            <a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false"
              aria-controls="flush-collapseSix">
              Accordion Item #6</a>

            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
              data-bs-parent="#accordionFlushMyFAQ1">
              <div class="accordion-body" editable="rich">Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing
                more exciting happening here in terms of content, but just filling up the space to make it look, at
                least at first glance, a bit more representative of how this would look in a real-world application.
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>


  <!-- / Question end -->

  <%- include('2NDEVOWNER/2wheelbulk/PARTIALS/footer') %>
  <script src="/2NDEVOWNER/2wheelbulk/JS/emergency.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  </script>


</body>

</html>