<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/2NDEVOWNER/Frame 1@2x.png" />
    <title>FixPoint</title>
    <link rel="stylesheet" href="/2NDEVOWNER/2wheelbulk/SUPPORT/support.css" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <%- include('2NDEVOWNER/2wheelbulk/PARTIALS/header') %>

    <div class="container py-4">
      <div class="row mb-5">
        <div class="col-md-6 align-self-center">
          <div class="lc-block">
            <img class="img-fluid mx-auto d-block" src="/2NDEVOWNER/2wheelbulk/SUPPORT/imgsupport/Service 24_7-pana.png" style="height:50vh">
          </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-md-6">
          <div class="lc-block">
            <div editable="rich">
    
              <h2>The quick brown fox jumps over the lazy dog</h2>
    
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est. Etiam diam metus, lobortis non augue at, placerat viverra risus. Cras ornare faucibus laoreet.&nbsp;</p>
              <p>Aenean vel nisi in ipsum congue fermentum et ut arcu. Proin leo diam,
                vulputate eu tellus ac, mattis cursus nunc. In aliquet erat ac eros congue maximus.&nbsp;</p>
              <p><br></p>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
      </div>
      <div class="row mt-4">
        <div class="col-md-3 col-sm-6">
          <div class="lc-block">
            <img class="img-fluid mx-auto d-block mb-2" src="/2NDEVOWNER/2wheelbulk/SUPPORT/imgsupport/support (1).png" style="height:10vh">
          </div><!-- /lc-block -->
          <div class="lc-block text-center">
            <div editable="rich">
    
              <h4>The quick brown</h4>
    
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;</p>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-md-3 col-sm-6">
          <div class="lc-block">
            <img class="img-fluid mx-auto d-block mb-2" src="/2NDEVOWNER/2wheelbulk/SUPPORT/imgsupport/support (2).png" style="height:10vh">
          </div><!-- /lc-block -->
          <div class="lc-block text-center">
            <div editable="rich">
    
              <h4>The quick brown</h4>
    
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;</p>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-md-3 col-sm-6">
          <div class="lc-block">
            <img class="img-fluid mx-auto d-block mb-2" src="/2NDEVOWNER/2wheelbulk/SUPPORT/imgsupport/support (3).png" style="height:10vh">
          </div><!-- /lc-block -->
          <div class="lc-block text-center">
            <div editable="rich">
    
              <h4>The quick brown</h4>
    
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;</p>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-md-3 col-sm-6">
          <div class="lc-block">
            <img class="img-fluid mx-auto d-block mb-2" src="/2NDEVOWNER/2wheelbulk/SUPPORT/imgsupport/support (4).png" style="height:10vh">
          </div><!-- /lc-block -->
          <div class="lc-block text-center">
            <div editable="rich">
    
              <h4>The quick brown</h4>
    
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;</p>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
      </div>
    </div>
</section>
<%- include('2NDEVOWNER/2wheelbulk/PARTIALS/footer') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/js/bootstrap.min.js"></script>
  </body>
</html>
