<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="Frame 1@2x.png" />
  <title>FixPoint</title>
  <link rel="stylesheet" href="/Files/CSS/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css" />
  
<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
</head>

<body>

  <%- include('Files/PARTIALS/HEADER') %>

  <!-- partial:index.partial.html -->
  <link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap" rel="stylesheet" />
  <!-- start of hero -->
  <section class="hero-slider hero-style">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide-inner slide-bg-image" style="
                background-image: url('/Files/Img/bg\ \(3\).jpg');
              ">
            <div class="container">
              <div data-swiper-parallax="300" class="slide-title">
                <h2>The complete<br>package for<br>your ride.<br></h2>
              </div>
              <div data-swiper-parallax="400" class="slide-text">
                <p>Maintain services for all types of Electric Vehicles.</p>
              </div>
              <div class="clearfix"></div>
              <div data-swiper-parallax="500" class="slide-btns">
                <a href="auth-registration" class="theme-btn-s2">Register now</a>
                <a href="/Files/ABOUT/aboutusss" class="theme-btn-s3"><i class="fas fa-chevron-circle-right"></i> Get Info</a>
              </div>
            </div>
          </div>
          <!-- end slide-inner -->
        </div>
        <!-- end swiper-slide -->
        <div class="swiper-slide">
          <div class="slide-inner slide-bg-image" style="
                background-image:  linear-gradient(470deg, rgba(0, 0, 0, 3.8), rgba(0, 0, 0, 0) 70.71%),url('/Files/Img/bg\ \(1\).png');
              ">
            <div class="container">
              <div data-swiper-parallax="300" class="slide-title">
                <h2>Multi Brand<br>
                  EV Services Simplified.</h2>
              </div>
              <div data-swiper-parallax="400" class="slide-text">
                <p>We make driving absolutely hassle-free exprience</p>
              </div>
              <div class="clearfix"></div>
              <div data-swiper-parallax="500" class="slide-btns">
                <a href="#" class="theme-btn-s2">Register now</a>
                <a href="/Files/ABOUT/aboutusss" class="theme-btn-s3"><i class="fas fa-chevron-circle-right"></i> Get Info</a>
              </div>
            </div>
          </div>
          <!-- end slide-inner -->
        </div>
        <!-- end swiper-slide -->

        <div class="swiper-slide">
          <div class="slide-inner slide-bg-image"
            style="background-image:  linear-gradient(470deg, rgba(0, 0, 0, 3.8), rgba(0, 0, 0, 0) 70.71%),url('/Files/Img/bg\ \(2\).png')">
            <div class="container">
              <div data-swiper-parallax="300" class="slide-title">
                <h2>Cutting-edge<br>Services.</h2>
              </div>
              <div data-swiper-parallax="400" class="slide-text">
                <p>Utilising cutting-edge technology like blockchain, AI, ML.
                </p>
              </div>
              <div class="clearfix"></div>
              <div data-swiper-parallax="500" class="slide-btns">
                <a href="#" class="theme-btn-s2">Register now</a>
                <a href="/Files/ABOUT/aboutusss" class="theme-btn-s3"><i class="fas fa-chevron-circle-right"></i>Get Info</a>
              </div>
            </div>
          </div>
          <!-- end slide-inner -->
        </div>
        <!-- end swiper-slide -->
      </div>
      <!-- end swiper-slide -->

    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    </div>
  </section>
  <!-- end of hero slider -->
  
<!-- about -->



<div class="container py-5">
  <div class="row py-5">
    <div class="col-12 text-center">
    
    
      <h2 class="h1 font-weight-bold">Welcome to FixPoint</h2>
       <p class="mb-5 text-black-50 mx-lg-5">A place for all your automobile needs.</p>
      
      <div class="row pt-3 text-left">
      
      <div class="col-lg-6">
      <div class="row">
      <div class="col-12">
        <img src="/Files/Img/about.png"  class="img-fluid rounded" style="width: 90%;"> 
        </div>
    
      </div>
      </div>
      
      <div class="col-lg-6 mt-5 mt-lg-0">
 
      <div class="d-flex mb-5">
      <div class="mr-3"><img src="/Files/Img/icons8-services-66.png" class="icon-circle d-flex align-items-center justify-content-center text-secondary"></div>
     <div><h4>Services</h4>
        <p class="text-muted mb-3"> We provide an industry-leading platform that empowers our clients to work together and provide services for all types of Electric Vehicles.</p>
      <a href="/Files/services/services" class="btn-link">VIEW MORE <i class="lni lni-arrow-right"></i></a>
     
     </div> 
      </div>
   
 
      <div class="d-flex mb-5">
      <div class="mr-3"><img src="/Files/Img/icons8-franchise-64.png" class="icon-circle d-flex align-items-center justify-content-center text-secondary"></div>
     <div><h4>Franchise</h4>
        <p class="text-muted mb-3">Through Fixpoint franchise, an electric vehicle running in Bangalore can receive refinement from Pan India, maximising the automobile experience for our customers.</p>
      <a href="" class="btn-link">VIEW MORE <i class="lni lni-arrow-right"></i></a>
     
     </div> 
      </div>
      
      <div class="d-flex mb-4">
      <div class="mr-3"><img src="/Files/Img/icons8-mechanic-64.png" class="icon-circle d-flex align-items-center justify-content-center text-secondary"></div>
     <div><h4>Management</h4>
        <p class="text-muted mb-3">A full life-cycle management solution for vehicles, including maintenance, repairs, roadside support, emergencies, accessories, tyres, and batteries. You can shop with us in one place for all your EV needs.</p>
      <a href="" class="btn-link">VIEW MORE <i class="lni lni-arrow-right"></i></a>
     
     </div> 
      </div>
      
  </div>
    
      </div>
      
    </div>
  </div>
</div>
 
<!-- /.container --> 
<!-- about end -->
  <!--Banner -->
  <div class="d-flex text-center" lc-helper="background"
  style="min-height: 20vh; background-attachment: fixed; background-size:cover; background-position: center center;background-color:#eee;  background-image: linear-gradient(336deg, rgba(0, 0, 0, 1.8), rgba(0, 0, 0, 0) 70.71%), url('/Files/Img/bg\ \(3\).jpg');">
  <div class="lc-block  my-3 align-self-center w-100 py-5">
    <div editable="rich">
      <h2 class="display-4" style="color:white">Affordability | Quality | Availability.</h2>
      <p class="display-10" style="color:white">Completely open and honest, so sit back and relax also nothing is fixed or invoiced extra without your permission.</p>
    </div>
  </div>
</div>
<!--/Banner end -->

<div class="container py-5">
  <div class="row py-5">
    <div class="col-12 text-center">
      <h2 class="mb-2 h1 font-weight-bold">We don’t do baby steps. We leap. We move EV into a sustainable future, protecting the outdoors.</h2>
      <p class="mb-5 text-black-50">Our Services</p>
      <div class="row pt-3">
      <div class="col-lg-4 col-md-6 vv">
      <div class="p-4 border-light border rounded cc">
     <div class="d-flex justify-content-center align-items-center border rounded-circle box-100 mx-auto">
     <i class="lni lni-apartment"></i>
     </div>
      <h5 class="mb-3 mt-5">E.V OWNER</h5>
      <p class="mb-4 text-muted">Providing all necessary services under one umbrella for the Owner.</p>
       <a href="" class="btn btn-light btn-lg">View More &rarr;</a>
       </div>
      </div>
      <div class="col-lg-4 col-md-6 vv">
      <div class="p-4 border-light border rounded cc">
      <div class="d-flex justify-content-center align-items-center border rounded-circle box-100 mx-auto">
    <i class="lni lni-calculator"></i>
     </div>
      <h5 class="mb-3 mt-5">PRE OWNED E.V DEALER</h5>
      <p class="mb-4 text-muted">Dealing for EV is chaotic, we provide one stop hassle free EV solution for the pre-owned E-Vehicles.</p>
      <a href="" class="btn btn-light btn-lg">View More &rarr;</a>
             </div>
      </div>
  <div class="col-lg-4 col-md-6 vv">
  <div class="p-4 border-light border rounded cc">
       <div class="d-flex justify-content-center align-items-center border rounded-circle box-100 mx-auto">
     <i class="lni lni-bar-chart"></i>
     </div>
      <h5 class="mb-3 mt-5">CORPORATE</h5>
      <p class="mb-4 text-muted">A vehicle market where light, medium, and heavy-duty EV solutions are available to meet all commercial and vocational needs.</p>
      <a href="" class="btn btn-light btn-lg">View More &rarr;</a>
             </div>
      </div>
    
      </div>
      <div class="row pt-3 justify-content-center ">
        <div class="col-lg-4 col-md-6 vv">
        <div class="p-4 border-light border rounded cc">
       <div class="d-flex justify-content-center align-items-center border rounded-circle box-100 mx-auto">
       <i class="lni lni-apartment"></i>
       </div>
        <h5 class="mb-3 mt-5">GOVERNMENT BODY</h5>
        <p class="mb-4 text-muted">Minimizing the cost of running a vehicle by offering a transparent and effcient way to compact pollution.</p>
         <a href="" class="btn btn-light btn-lg">View More &rarr;</a>
         </div>
        </div>
        <div class="col-lg-4 col-md-6 vv">
        <div class="p-4 border-light border rounded cc">
        <div class="d-flex justify-content-center align-items-center border rounded-circle box-100 mx-auto">
      <i class="lni lni-calculator"></i>
       </div>
        <h5 class="mb-3 mt-5">FIXPOINT BUDDY</h5>
        <p class="mb-4 text-muted">The complete model for the optimistic people for solving the problems faced for running EV for their locality.</p>
        <a href="" class="btn btn-light btn-lg">View More &rarr;</a>
               </div>
        </div>
    <!-- <div class="col-lg-4 col-md-6 vv">
    <div class="p-4 border-light border rounded cc">
         <div class="d-flex justify-content-center align-items-center border rounded-circle box-100 mx-auto">
       <i class="lni lni-bar-chart"></i>
       </div>
        <h5 class="mb-3 mt-5">Customization</h5>
        <p class="mb-4 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="" class="btn btn-light btn-lg">View More &rarr;</a>
               </div>
        </div> -->
      
        </div>
      
    </div>
  </div>
</div>

<section class="bg-light">
  <div class="container py-5">
    <figure class="rounded"><img src="https://bootstraplily.com/wp-content/uploads/2021/11/about15-1.jpg"  alt="" /></figure>
    <div class="row">
      <div class="col-xl-10 mx-auto">
        <div class="card text-white" style="background-image:url(/Files/Img/Animated\ Shape.svg); background-size:cover; top:-60px;" >
          <div class="card-body p-5">
            <div class="row align-items-center counter-wrapper gy-4 text-center">
              <div class="col-6 col-lg-3">
                <h3 class="text-white h1 fw-bolder">0</h3>
                <p class="mb-0 fw-bold">Tailpipe emissions</p>
              </div>
              <div class="col-6 col-lg-3">
                <h3 class="text-white h1 fw-bolder">5+</h3>
                <p class="mb-0 fw-bold">MOU SIGNED</p>
              </div>
              <div class="col-6 col-lg-3">
                <h3 class="text-white h1 fw-bolder">82000</h3>
                <p class="mb-0 fw-bold">save expense of fuel each year</p>
              </div>
              <div class="col-6 col-lg-3">
                <h3 class="text-white h1 fw-bolder">2024-25</h3>
                <p class="mb-0 fw-bold">Estimated year for EV revoluton</p>
              </div>
              <!--/column -->
              <!--/column -->
              <!--/column -->
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/.card-body -->
        </div>
        <!--/.card -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
<div class="container py-5">
	<div class="row mb-5">
		<div class="col-md-12">
			<div class="lc-block text-center mb-4">
				<div editable="rich">
					<h2 class="fw-bold">Frequently Asked Questions </h2>
				</div>
			</div>
			<div class="lc-block text-center">
				<!-- <div editable="rich">
					Top Electric Car Frequently Asked Questions
				</div> -->
			</div>
		</div>
	</div>
	<div class="row g-0">
		<div class="col-md-6">
			<img class="img-fluid h-100" src="/Files/Img/question.jpg" style="object-fit:cover" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="">
		</div>
		<div class="col-md-6 p-5 d-flex flex-column justify-content-center">
			<div class="accordion accordion-flush" id="accordionFlushMyFAQ1">
				<div class="lc-block accordion-item mb-5">

					<a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
						Q.1) Other than the rates mentioned, are there any additional fees? <br><br>
           
					</a>

					<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushMyFAQ1" style="">
						<div class="accordion-body" editable="rich"> Ans. Without a doubt. When you make a reservation for a vehicle service, you only pay for the features you choose. Most significantly, there won't be any unanticipated expenditures or fees.</div>
					</div>
				</div>
				<div class="lc-block accordion-item mb-5">

					<a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
						Q.2) Is payment required before the service? <br> <br>


					</a>

					<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushMyFAQ1">
						<div class="accordion-body" editable="rich">Ans. FixPoint offers a variety of customizable payment options that are entirely up to the customer's preference.</div>
					</div>
				</div>
				<div class="lc-block accordion-item mb-5">

					<a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
						Q.3) How do I schedule a FixPoint service?<br><br>


					</a>

					<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushMyFAQ1">
						<div class="accordion-body" editable="rich">Ans. You may book a service with FixPoint's high-quality and user-friendly application or website in just a few simple steps.</div>
					</div>
				</div>


				<!-- -->

				<div class="lc-block accordion-item mb-5">

					<a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
						Q.4) Does FixPoint Offer Services at Your Doorstep?<br><br>

</a>

					<div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushMyFAQ1">
						<div class="accordion-body" editable="rich">Ans. Yes, doorstep services are available to owners of electric vehicles.</div>
					</div>
				</div>
				<div class="lc-block accordion-item mb-5">

					<a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
						Q.5) Do we give discounts at FixPoint?<br><br>

</a>

					<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushMyFAQ1">
						<div class="accordion-body" editable="rich">Ans. Absolutely, whether you are booking a little or large service. FixPoint regularly offers customised deals and discounts.</div>
					</div>
				</div>
				<div class="lc-block accordion-item mb-5">

					<a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
						Q.6) Is India going to be the next big market for professional vehicle washing?<br><br>

</a>

					<div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushMyFAQ1">
						<div class="accordion-body" editable="rich">Ans. In wealthy nations, there is a sizable market for professional automobile cleaning and washing. India, a growing market, could soon experience explosive growth in the vehicle wash industry.</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>
<%- include('Files/PARTIALS/footer') %>

 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/Files/JS/main.js"></script>

  <script src=""></script>
</body>

</html>