<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/Frame 1@2x.png" />
    <title>FixPoint</title>
    <link rel="stylesheet" href="/Files/SUPPORT/support.css" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>  
    <!-- <div class="top-bar">
    <span><i class="fa-solid fa-phone"></i>+10000000000</span>
    <h1 class="hello">
      <span>always be there</span>
      <div class="message">
        <div class="word1">Fixpoint</div>
      </div>
    </h1>
    <ul class="one">
      <li>
        <a href="#">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><span class="logo">FIX</span>POINT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Files/service.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/Files/ABOUT/aboutusss.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/Files/SUPPORT/support.html">Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Files/BLOG/blog.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Contact">Contact</a>
          </li>
        </ul>
        <div class="iconhead">
          <button type="button" class="btn btn-success">Sign Up</button>
        </div>
      </div>
    </div>
  </nav> -->
  <%- include('Files/PARTIALS/HEADER') %>
    <div class="container py-4">
      <div class="row mb-5">
        <div class="col-md-6 align-self-center">
          <div class="lc-block">
            <img class="img-fluid mx-auto d-block" src="/Files/services/imgsupport/—Pngtree—contact our telephone customer service_5412847.png" style="height:50vh">
          </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-md-6">
          <div class="lc-block">
            <div editable="rich">
    
              <h2>There is no doubt that it is far less than with a conventionally powered model.</h2>
              <br>
              <p>Even though electric vehicles may still be more expensive to buy than their equivalents with conventional engines, they are typically less expensive to maintain thanks to convenient home charging. Due to decreased ongoing long-term maintenance expenses, electric vehicles also provide their owners with continuous financial benefits.<br><br>That's as a result of EVs eliminating more than two dozen mechanical components that would typically need routine maintenance. The cost of tune-ups, oil changes, cooling system flushes, transmission maintenance, and the replacement of the air filter, spark plugs, and drive belts is avoided by an EV owner. According to some sources, regular maintenance costs for electric car owners are about one-third less than those for conventionally powered vehicle owners.</p>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
      </div>
      <div class="row mt-4">
        <div class="col-md-3 col-sm-6">
          <div class="lc-block">
            <img class="img-fluid mx-auto d-block mb-2" src="/Files/services/imgsupport/kindpng_7521386.png" style="height:10vh">
          </div><!-- /lc-block -->
          <div class="lc-block text-center">
            <div editable="rich">
    
              <h4>Owner</h4>
    
              <p>Electric vehicles offer the prospect to leapfrog the traditional fossil-fuel driven motorization to more sustainable transportation systems for the owners.&nbsp;</p>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-md-3 col-sm-6">
          <div class="lc-block">
            <img class="img-fluid mx-auto d-block mb-2" src="/Files/services/imgsupport/Electric-Car-PNG-File.png" style="height:10vh">
          </div><!-- /lc-block -->
          <div class="lc-block text-center">
            <div editable="rich">
              
              <h4>Second hand market</h4>
              
              <p>Buy good condition, pre-owned electric cars from the largest collection at the best price in India.&nbsp;</p>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-md-3 col-sm-6">
          <div class="lc-block">
            <img class="img-fluid mx-auto d-block mb-2" src="/Files/services/imgsupport/subsidy-on-electric-vehicles-(1)-transformed.png" style="height:10vh">
          </div><!-- /lc-block -->
          <div class="lc-block text-center">
            <div editable="rich">
    
              <h4>Buddy</h4>
    
              <p>Well researched and desgined methods.&nbsp;</p>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-md-3 col-sm-6">
          <div class="lc-block">
            <img class="img-fluid mx-auto d-block mb-2" src="/Files/services/manufacturing-png-23606-transformed.png" style="height:10vh">
          </div><!-- /lc-block -->
          <div class="lc-block text-center">
            <div editable="rich">
    
              <h4>Manufacture</h4>
    
              <p>Our technician acts fast to be on sight.&nbsp;</p>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
      </div>
    </div>
</section>
<%- include('Files/PARTIALS/footer') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/js/bootstrap.min.js"></script>
  </body>
</html>
