<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/EV OWNER/Frame 1@2x.png" />
    <title>FixPoint</title>
    <link rel="stylesheet" href="/EV OWNER/2wheel/CSS/washing.css" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    
    <div class="top-bar">
      <span><i class="fa-solid fa-phone"></i>+10000000000</span>
      <h1 class="hello">
        <span>always be there</span>
        <div class="message1">
          <div class="word1">Fixpoint</div>
        </div>
      </h1>
      <ul class="one">
        <li>
          <a href="#">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-brands fa-facebook"></i>
          </a>
          </li>
        <li>
          <a href="#">
            <i class="fa-brands fa-instagram"></i>
          </a>
          
        </li>
      </ul>
  </div>
  <nav class="navbar navbar-expand-md navbar-dark ">
   
    <div class="container-fluid">
      <a class="navbar-brand " href="#"><span class="logo">Fix</span>point</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/EV OWNER/2wheel/2owner.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/EV OWNER/2wheel/2owner.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/EV OWNER/2wheel/ABOUT/aboutusss.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/EV OWNER/2wheel/SUPPORT/support.html">Support</a>
          </li>
        </ul>
        <div class="iconhead">
        <ul class="navbar-nav sm-icons mx-auto" >
          <li>
            <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
          <li>
            <a class="nav-link" href="#"><i class="fa-solid fa-user"></i></a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </nav>


     <!-- page-header -->
     <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-caption">
                        <h1 class="page-title">washing and decoration</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
   

  <!-- HOw -->
    <div class="container ">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 leftimg" >
          <figure><img class="img-fluid" src="/EV OWNER/2wheel/IMAGES/washing/howwash.png" alt="" /></figure>
        </div>
        <!--/column -->
        <div class="col-lg-6 work">
          <h2 class="h6 text-uppercase text-line text-green mb-3">How It Works?</h2>
          <h3 class="display-6 mb-5 pe-xxl-5">Everything you need on creating a business process.</h3>
          <div class="d-flex flex-row mb-3">
            <div class="pe-4">
              <img src="/EV OWNER/2wheel/IMAGES/icons/serviceicon (1).png" class="icon" alt="" />
            </div>
            <div>
              <h5 class="mb-1">Collect Ideas</h5>
              <p class="mb-1">Nulla vitae elit libero pharetra augue dapibus.</p>
            </div>
          </div>
          <div class="d-flex flex-row mb-3">
            <div class="pe-4">
              <img src="/EV OWNER/2wheel/IMAGES/icons/serviceicon (2).png" class="icon" alt="" />
            </div>
            <div>
              <h5 class="mb-1">Data Analysis</h5>
              <p class="mb-1">Vivamus sagittis lacus augue laoreet vel.</p>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="pe-4">
              <img src="/EV OWNER/2wheel/IMAGES/icons/serviceicon (3).png" class="icon" alt="" />
            </div>
            <div>
              <h5 class="mb-1">Magic Touch</h5>
              <p class="mb-0">Cras mattis consectetur purus sit amet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/HOw end -->


  
  <!--Banner -->
  <div class="d-flex text-center" lc-helper="background"
  style="min-height: 20vh; background-attachment: fixed; background-size:cover; background-position: center center;background-color:#eee;  background-image: linear-gradient(336deg, rgba(0, 0, 0, 1.8), rgba(0, 0, 0, 0) 70.71%), url('/EV OWNER/2wheel/IMAGES/all.jpg');;">
  <div class="lc-block  my-3 align-self-center w-100 py-5">
    <div editable="rich">
      <h2 class="display-4">This could be your call to action</h2>
      <p class="display-10">Lorem int ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id
        tempor.</p>
    </div>
    <a class="btn btn-success" href="/EV OWNER/2wheel/2bulk.html" role="button">More services</a>
  </div>
</div>
<!--/Banner end -->



              <div class="container1"> 
                <h1 class="headingshop"> Types of Washing</h1>
                <p class="parashop">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique voluptate architecto rem officiis dolorem itaque sequi ipsum labore qui deserunt. </p>
               
                <div id="alerts"></div>
             <div class="productcont flex-wrap">
                     <div class="product">
                      <img src="/EV OWNER/2wheel/IMAGES/washing/washtype (1).jpg" alt="" class="washimg">
                         <h3 class="productname">Jet washing  </h3>
                         <p>Product description excerpt...</p>
                         <p class="price">$5.05</p>
                         <button class="addtocart">Add To Cart</button>
                     </div>
                     <div class="product">
                      <img src="/EV OWNER/2wheel/IMAGES/washing/washtype (2).jpg" alt="" class="washimg">
                         <h3 class="productname">Steam Washing </h3>
                         <p>Product description excerpt...</p>
                         <p class="price">$8.50</p>
                         <button class="addtocart">Add To Cart</button>
                     </div>
                     <div class="product">
                      <img src="/EV OWNER/2wheel/IMAGES/washing/washtype (3).jpg" alt="" class="washimg">
                         <h3 class="productname">Custom Washing </h3>
                         <p>Product description excerpt...</p>
                         <p class="price">$10.50</p>
                         <button class="addtocart">Add To Cart</button>
                     </div>
                     <div class="product">
                      <img src="/EV OWNER/2wheel/IMAGES/washing/washtype (4).jpg" alt="" class="washimg">
                      <h3 class="productname">Foam Washing</h3>
                      <p>Product description excerpt...</p>
                      <p class="price">$10.50</p>
                      <button class="addtocart">Add To Cart</button>
                  </div>
                  <div class="product">
                    <img src="/EV OWNER/2wheel/IMAGES/washing/washtype (5).jpg" alt="" class="washimg">
                    <h3 class="productname">Waterless</h3>
                    <p>Product description excerpt...</p>
                    <p class="price">$10.50</p>
                    <button class="addtocart">Add To Cart</button>
                </div>
                <div class="product">
                  <img src="/EV OWNER/2wheel/IMAGES/washing/decor.webp" alt="" class="washimg">
                  <h3 class="productname">Decoration </h3>
                  <p>Product description excerpt...</p>
                  <p class="price">$10.50</p>
                  <button class="addtocart">Add To Cart</button>
              </div>
              </div>
                     <div class="cart-container">
                       <h2>Cart</h2>
                       <table>
                         <thead>
                           <tr>
                           <th><strong>Product</strong></th>
                           <th><strong>Price</strong></th>
                         </tr>
                         </thead>
                         <tbody id="carttable">
                         </tbody>
                       </table>
                       <hr>
                       <table id="carttotals">
                         <tr>
                           <td><strong>Items</strong></td>
                           <td><strong>Total</strong></td>
                         </tr>
                         <tr>
                           <td>x <span id="itemsquantity">0</span></td>
                          
                           <td>$<span id="total">0</span></td>
                         </tr></table>
             
                         
                       <div class="cart-buttons">  
                         <button id="emptycart">Empty Cart</button>
                         <button id="checkout">Checkout</button>
                       </div>
                     </div>
             </div>
          


  <!--Question -->
  <div class="container py-5">
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="lc-block text-center mb-4">
          <div editable="rich">
            <h2 class="fw-bold">Frequently Asked Questions </h2>
          </div>
        </div>
        <div class="lc-block text-center">
          <div editable="rich">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu<br>fugiat nulla pariatur
            excepteur sint occaecat.<br>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-md-6">
        <img class="img-fluid " src="/EV OWNER/2wheel/IMAGES/question.jpg" alt="Photo by Tim Mossholder" style="object-fit:cover">
      </div>
      <div class="col-md-6 p-5 d-flex flex-column justify-content-center">
        <div class="accordion accordion-flush" id="accordionFlushMyFAQ1">
          <div class="lc-block accordion-item mb-5">

            <a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
              aria-controls="flush-collapseOne">
              Accordion Item #1
            </a>

            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushMyFAQ1" style="">
              <div class="accordion-body" editable="rich">Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
            </div>
          </div>
          <div class="lc-block accordion-item mb-5">

            <a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
              aria-controls="flush-collapseTwo">
              Accordion Item #2
            </a>

            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushMyFAQ1" style="">
              <div class="accordion-body" editable="rich">Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's
                imagine this being filled with some actual content.</div>
            </div>
          </div>
          <div class="lc-block accordion-item mb-5">

            <a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
              aria-controls="flush-collapseThree">
              Accordion Item #3
            </a>

            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushMyFAQ1" style="">
              <div class="accordion-body" editable="rich">Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing
                more exciting happening here in terms of content, but just filling up the space to make it look, at
                least at first glance, a bit more representative of how this would look in a real-world application.
              </div>
            </div>
          </div>


          <!-- -->

          <div class="lc-block accordion-item mb-5">

            <a editable="inline" class="fw-bold text-decoration-none text-dark h4" href="#" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseFour">
              Accordion Item #4</a>

            <div id="flush-collapseFour" class="accordion-collapse collapse show" aria-labelledby="flush-headingFour"
              data-bs-parent="#accordionFlushMyFAQ1" style="">
              <div class="accordion-body" editable="rich">Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
            </div>
          </div>
          <div class="lc-block accordion-item mb-5">

            <a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false"
              aria-controls="flush-collapseFive">
              Accordion Item #5</a>

            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
              data-bs-parent="#accordionFlushMyFAQ1">
              <div class="accordion-body" editable="rich">Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's
                imagine this being filled with some actual content.</div>
            </div>
          </div>
          <div class="lc-block accordion-item mb-5">

            <a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false"
              aria-controls="flush-collapseSix">
              Accordion Item #6</a>

            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
              data-bs-parent="#accordionFlushMyFAQ1">
              <div class="accordion-body" editable="rich">Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing
                more exciting happening here in terms of content, but just filling up the space to make it look, at
                least at first glance, a bit more representative of how this would look in a real-world application.
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>


  <!-- / Question end -->
      <footer class="footer-section">
        <div class="container">
          <div class="footer-cta pt-5 pb-5">
            <div class="row">
              <div class="col-xl-4 col-md-4 mb-30">
                <div class="single-cta">
                  <i class="fas fa-map-marker-alt"></i>
                  <div class="cta-text">
                    <h4>Find us</h4>
                    <span>1010 Avenue, sw 54321, chandigarh</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                <div class="single-cta">
                  <i class="fas fa-phone"></i>
                  <div class="cta-text">
                    <h4>Call us</h4>
                    <span>9876543210 0</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                <div class="single-cta">
                  <i class="far fa-envelope-open"></i>
                  <div class="cta-text">
                    <h4>Mail us</h4>
                    <span>mail@info.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-content pt-5 pb-5">
            <div class="row">
              <div class="col-xl-4 col-lg-4 mb-50">
                <div class="footer-widget">
                  <div class="footer-logo">
                    <a href="index.html"
                      ><img src="/EV OWNER/Frame 1@2x.png" class="footerlogo" alt="logo"
                    /></a>
                  </div>
                  <div class="footer-text">
                    <p>
                      Lorem ipsum dolor sit amet, consec tetur adipisicing elit,
                      sed do eiusmod tempor incididuntut consec tetur adipisicing
                      elit,Lorem ipsum dolor sit amet.
                    </p>
                  </div>
                  <div class="footer-social-icon">
                    <span>Follow us</span>
                    <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                    <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                <div class="footer-widget">
                  <div class="footer-widget-heading">
                    <h3>Useful Links</h3>
                  </div>
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">about</a></li>
                    <li><a href="#">services</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Emergency</a></li>
                    <li><a href="#">Collab</a></li>
                    <li><a href="#">Expert Team</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Latest News</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                <div class="footer-widget">
                  <div class="footer-widget-heading">
                    <h3>Contact</h3>
                  </div>
                  <div class="footer-text mb-25">
                    <p>
                      Don’t miss to Contact us, kindly fill the form
                      below.
                    </p>
                  </div>
                  <div class="subscribe-form">
                    <form action="#">
                      <input type="text" placeholder="Email Address" />
                      <button><i class="fab fa-telegram-plane"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright-area">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                <div class="copyright-text">
                  <p>
                    Copyright &copy; 2018, All Right Reserved
                    <a href="">Fixpoint</a>
                  </p>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                <div class="footer-menu">
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Policy</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
  <script src="/EV OWNER/2wheel/JS/washing.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src=""></script>
  </body>